### Reading and Writing Data in Text Format

https://resources.oreilly.com/examples/0636920023784/tree/master/pydata-book-master

In [1]:
import pandas as pd
import numpy as np

In [2]:
!cat ch06/ex1.csv
df = pd.read_csv('ch06/ex1.csv')
pd.read_table('ch06/ex1.csv', sep=',')

!cat ch06/ex2.csv
pd.read_csv('ch06/ex2.csv', header=None)
pd.read_csv('ch06/ex2.csv', names=['a','b','c','d','message'])

names = ['a','b','c','d','message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

!cat ch06/csv_mindex.csv
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])

list(open('ch06/ex3.txt'))
result = pd.read_table('ch06/ex3.txt', sep='\s+')

!cat ch06/ex4.csv
pd.read_csv('ch06/ex4.csv', skiprows=[0,2,3])

!cat ch06/ex5.csv
result = pd.read_csv('ch06/ex5.csv')
pd.isnull(result)
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo1,2,3,4,hello
5,6,7,8,world
9,10,11,12,fookey1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foosomething,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:16: FutureWarning: read_table is deprecated, use read_csv instead.
  app.launch_new_instance()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading Text Files in Pieces

In [3]:
result = pd.read_csv('ch06/ex6.csv')
pd.read_csv('ch06/ex6.csv', nrows=5)

chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
# tot = tot.order(ascending=False)
tot = tot.sort_values(ascending=False)

### Writing Data Out to Text Format

In [5]:
data = pd.read_csv('ch06/ex5.csv')
data.to_csv('ch06/out.csv')

import sys

data.to_csv(sys.stdout, sep='|')
data.to_csv(sys.stdout, na_rep='NULL')
data.to_csv(sys.stdout, index=False)
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('ch06/tseries.csv')
!cat ch6/tseries.csv

pd.Series.from_csv('ch06/tseries.csv', parse_dates=True)

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
something,a,b,c,d,message
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo
a,b,c
1,2,3.0
5,6,
9,10,11.0
cat: ch6/tseries.csv: No such file or directory

/usr/local/lib/python2.7/site-packages/ipykernel_launcher.py:13: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  del sys.path[0]
/usr/local/lib/python2.7/site-packages/pandas/core/series.py:4141: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  infer_datetime_format=infer_datetime_format)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### Manually Working with Delimited Formates

In [6]:
!cat ch06/ex7.csv
import csv
f = open('ch06/ex7.csv')
reader = csv.reader(f)

for line in reader:
    print(line)
    
lines = list(csv.reader(open('ch06/ex7.csv')))
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quetechar = '"'
    quoting = csv.QUOTE_MINIMAL
    
reader = csv.reader(f, dialect = my_dialect)

reader = csv.reader(f, delimiter='|')
# possible options: delimiter(','), lineterminator('\r\n'), quotechar('"'), quoting, skipinitialspace(False), doublequote, escapechar

# to write delimited files manually, you can use csv.writer. It accepts an open, writable file object and the same dialect and format options as csv.reader:
with open('mydata.csv', 'w') as f:
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

"a","b","c"
"1","2","3"
"1","2","3","4"
['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

TypeError: quotechar must be set if quoting enabled

### JSON Data

In [7]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zeko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [8]:
import json

result = json.loads(obj)
result

asjson = json.dump(result)

siblings = pd.DataFrame(result['siblings'], columns = ['name', 'age'])
siblings

TypeError: dump() takes at least 2 arguments (1 given)

### XML and HTML: Web Scraping

In [9]:
from lxml.html import parse
from urllib2 import urlopen

parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc = parsed.getroot()

In [10]:
links = doc.findall('.//a')
links[15:20]
# These are objects representing HTML elements; 
# to get the URL and link text need to use each element's get method (for the URL)
# and text_content method (for the display text)

[<Element a at 0x115280628>,
 <Element a at 0x115280680>,
 <Element a at 0x1152806d8>,
 <Element a at 0x115280730>,
 <Element a at 0x115280788>]

In [11]:
lnk = links[28]
lnk

In [12]:
lnk.get('href')

'/quote/AAPL/options?strike=192.5&straddle=false'

In [13]:
lnk.text_content()

'192.50'

In [14]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

['/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/videos/',
 '/news/',
 '/personal-finance',
 '/tech']

In [15]:
tables = doc.findall('.//table')
calls = tables[0]
puts = tables[1]

# each table has a header row followed by each of the data rows
rows = calls.findall('.//tr')

In [16]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

# header - th cells
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [17]:
# header - td cells
_unpack(rows[1], kind='td')

['AAPL190510C00150000',
 '2019-05-08 2:45PM EDT',
 '150.00',
 '54.40',
 '47.55',
 '48.15',
 '0.00',
 '-',
 '93',
 '103',
 '0.00%']

In [18]:
# convert the crawl into a df
# TextParser to do the appropriate automatic type convertion (e.g. string numbers to float)
from pandas.io.parsers import TextParser

def parse_options_data(table):
    row = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [19]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,AAPL190510C00150000,2019-05-08 2:45PM EDT,150.0,54.40,47.55,48.15,0.00,-,93,103,0.00%
1,AAPL190510C00172500,2019-05-09 11:09AM EDT,172.5,24.92,24.70,25.30,-3.63,-12.71%,1,33,0.00%
2,AAPL190510C00175000,2019-05-09 11:16AM EDT,175.0,22.65,22.45,23.20,-3.40,-13.05%,1,67,0.00%
3,AAPL190510C00180000,2019-05-09 11:36AM EDT,180.0,17.65,17.85,18.10,-6.30,-26.30%,87,115,0.00%
4,AAPL190510C00182500,2019-05-09 11:25AM EDT,182.5,14.65,15.35,15.80,-7.55,-34.01%,109,148,0.00%
5,AAPL190510C00187500,2019-05-09 11:36AM EDT,187.5,10.25,10.15,10.50,-4.61,-31.02%,112,249,0.00%
6,AAPL190510C00190000,2019-05-09 11:32AM EDT,190.0,7.50,7.70,8.20,-5.60,-42.75%,414,915,0.00%
7,AAPL190510C00192500,2019-05-09 11:39AM EDT,192.5,5.75,5.55,5.70,-5.03,-46.66%,"1,586",612,0.00%
8,AAPL190510C00195000,2019-05-09 11:39AM EDT,195.0,3.70,3.70,3.80,-4.55,-55.15%,"4,132","2,566",25.64%
9,AAPL190510C00197500,2019-05-09 11:39AM EDT,197.5,2.17,2.14,2.18,-3.73,-63.22%,"9,814","1,529",28.52%

### Parsing XML with lxml.objectify

In [20]:
from lxml import objectify

# http://web.mta.info/developers/download.html
path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ', 'DESIRED_CHANGE', 'DECIMAL_PLACES']

# root.INDICATOR return a generastor yielding each <INDICATOR> XML element.
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el.data)
    
perf = pd.DataFrame(data)

IOError: [Errno 2] No such file or directory: 'Performance_MNR.xml'

In [22]:
from StringIO import StringIO
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()

In [23]:
root

In [24]:
root.get('href')

'http://www.google.com'

In [25]:
root.text

'Google'

### Binary Data Formats

In [26]:
# One of the easiest ways to store data efficiently in binary format is using pickle serialization
# pandas objects all have a save method which writes the data to disk as a pickle
# read back by load
# for short-term save only
frame = pd.read_csv('ch06/ex1.csv')
frame
frame.save('ch06/frame_pickle')
pd.load('ch06/frame_pickle')

AttributeError: 'DataFrame' object has no attribute 'save'

### Using HDF5 Format

In [27]:
# HDF5 not a database. Suited for write-once, read-many datasets. May corrupt if multiple writers write the file.
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1'] = frame['a']
store
store['obj1']

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

### Reading Microsoft Excel Files

In [28]:
xls_file = pd.ExcelFile('data.xls')
table = xls_file.parse('Sheet1')

IOError: [Errno 2] No such file or directory: 'data.xls'

### Interacting with HTML and Web APIs

In [29]:
import requests

url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [30]:
data = resp.json()
data[:5]

[{u'color': u'e10c02',
  u'default': False,
  u'id': 76811,
  u'name': u'Bug',
  u'node_id': u'MDU6TGFiZWw3NjgxMQ==',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Bug'},
 {u'color': u'4E9A06',
  u'default': False,
  u'id': 76812,
  u'name': u'Enhancement',
  u'node_id': u'MDU6TGFiZWw3NjgxMg==',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement'},
 {u'color': u'FCE94F',
  u'default': False,
  u'id': 127681,
  u'name': u'Refactor',
  u'node_id': u'MDU6TGFiZWwxMjc2ODE=',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor'},
 {u'color': u'75507B',
  u'default': False,
  u'id': 129350,
  u'name': u'Build',
  u'node_id': u'MDU6TGFiZWwxMjkzNTA=',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Build'},
 {u'color': u'3465A4',
  u'default': False,
  u'id': 134699,
  u'name': u'Docs',
  u'node_id': u'MDU6TGFiZWwxMzQ2OTk=',
  u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Docs'}]

In [31]:
issue_labels = pd.DataFrame(data)
issue_labels

,color,default,id,name,node_id,url
0,e10c02,False,76811,Bug,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
1,4E9A06,False,76812,Enhancement,MDU6TGFiZWw3NjgxMg==,https://api.github.com/repos/pandas-dev/pandas...
2,FCE94F,False,127681,Refactor,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...
3,75507B,False,129350,Build,MDU6TGFiZWwxMjkzNTA=,https://api.github.com/repos/pandas-dev/pandas...
4,3465A4,False,134699,Docs,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...
5,AFEEEE,False,211840,Timeseries,MDU6TGFiZWwyMTE4NDA=,https://api.github.com/repos/pandas-dev/pandas...
6,729FCF,False,233160,Groupby,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...
7,06909A,False,2301354,Data IO,MDU6TGFiZWwyMzAxMzU0,https://api.github.com/repos/pandas-dev/pandas...
8,8AE234,False,2413328,Visualization,MDU6TGFiZWwyNDEzMzI4,https://api.github.com/repos/pandas-dev/pandas...
9,0b02e1,False,2822098,Indexing,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...
10,d7e102,False,2822342,Missing-data,MDU6TGFiZWwyODIyMzQy,https://api.github.com/repos/pandas-dev/pandas...
11,a10c02,False,8935311,Performance,MDU6TGFiZWw4OTM1MzEx,https://api.github.com/repos/pandas-dev/pandas...
12,02d7e1,False,13098779,Reshaping,MDU6TGFiZWwxMzA5ODc3OQ==,https://api.github.com/repos/pandas-dev/pandas...
13,e102d8,False,31404521,Dtypes,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...
14,DDDDDD,False,32933285,Admin,MDU6TGFiZWwzMjkzMzI4NQ==,https://api.github.com/repos/pandas-dev/pandas...
15,AD7FA8,False,35818298,API Design,MDU6TGFiZWwzNTgxODI5OA==,https://api.github.com/repos/pandas-dev/pandas...
16,ffa0ff,False,42670965,Error Reporting,MDU6TGFiZWw0MjY3MDk2NQ==,https://api.github.com/repos/pandas-dev/pandas...
17,006b75,False,47223669,Numeric,MDU6TGFiZWw0NzIyMzY2OQ==,https://api.github.com/repos/pandas-dev/pandas...
18,5319e7,False,47229171,IO CSV,MDU6TGFiZWw0NzIyOTE3MQ==,https://api.github.com/repos/pandas-dev/pandas...
19,5319e7,False,47232590,IO SQL,MDU6TGFiZWw0NzIzMjU5MA==,https://api.github.com/repos/pandas-dev/pandas...
20,a2bca7,False,48070600,CI,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...
21,fbca04,False,49094459,Internals,MDU6TGFiZWw0OTA5NDQ1OQ==,https://api.github.com/repos/pandas-dev/pandas...
22,5319e7,False,49597148,Timedelta,MDU6TGFiZWw0OTU5NzE0OA==,https://api.github.com/repos/pandas-dev/pandas...
23,0052cc,False,53181044,Frequency,MDU6TGFiZWw1MzE4MTA0NA==,https://api.github.com/repos/pandas-dev/pandas...
24,fbca04,False,57186974,Windows,MDU6TGFiZWw1NzE4Njk3NA==,https://api.github.com/repos/pandas-dev/pandas...
25,eb6420,False,57296398,Algos,MDU6TGFiZWw1NzI5NjM5OA==,https://api.github.com/repos/pandas-dev/pandas...
26,5319e7,False,60458168,Timezones,MDU6TGFiZWw2MDQ1ODE2OA==,https://api.github.com/repos/pandas-dev/pandas...
27,eb6420,False,60635328,Period,MDU6TGFiZWw2MDYzNTMyOA==,https://api.github.com/repos/pandas-dev/pandas...
28,207de5,False,71268330,MultiIndex,MDU6TGFiZWw3MTI2ODMzMA==,https://api.github.com/repos/pandas-dev/pandas...
29,e11d21,False,78527356,Categorical,MDU6TGFiZWw3ODUyNzM1Ng==,https://api.github.com/repos/pandas-dev/pandas...

### Interacting with Databases

In [32]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER);
"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [33]:
data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

con.executemany(stmt, data)
con.commit()

In [34]:
cursor = con.execute('select * from test')
row = cursor.fetchall()
rows

[<Element tr at 0x11528d5d0>,
 <Element tr at 0x11528d628>,
 <Element tr at 0x11528d680>,
 <Element tr at 0x11528d6d8>,
 <Element tr at 0x11528d730>,
 <Element tr at 0x11528d788>,
 <Element tr at 0x11528d7e0>,
 <Element tr at 0x11528d838>,
 <Element tr at 0x11528d890>,
 <Element tr at 0x11528d8e8>,
 <Element tr at 0x11528d940>,
 <Element tr at 0x11528d998>,
 <Element tr at 0x11528d9f0>,
 <Element tr at 0x11528da48>,
 <Element tr at 0x11528daa0>,
 <Element tr at 0x11528daf8>,
 <Element tr at 0x11528db50>,
 <Element tr at 0x11528dba8>,
 <Element tr at 0x11528dc00>,
 <Element tr at 0x11528dc58>,
 <Element tr at 0x11528dcb0>,
 <Element tr at 0x11528dd08>,
 <Element tr at 0x11528dd60>,
 <Element tr at 0x11528ddb8>,
 <Element tr at 0x11528de10>,
 <Element tr at 0x11528de68>,
 <Element tr at 0x11528dec0>,
 <Element tr at 0x11528df18>]

In [37]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [39]:
pd.DataFrame(rows, columns=zip(*cursor.description)[0])
# pass the select statement and the connection object
pd.read_sql('select * from test', con)

AssertionError: 4 columns passed, passed data had 11 columns

### Storing and Loading Data in MongoDB

In [41]:
import pymongo

con = pymongo.Connection('localhost', port=27017)

AttributeError: 'module' object has no attribute 'Connection'

In [ ]:
# want to store Twitter API data
tweets = con.db.tweets

In [ ]:
# tweets.save - writes the Python dict to MongoDB
import requests, json
url = 'http://search.twitter.com/search.json?q=python%20pandas'
data = json.loads(requests.get(url).text)

for tweet in data['results']:
    tweets.save(tweet)

In [ ]:
# query the collection
cursor = tweets.find({'from_user': 'wesmckinn'})

In [ ]:
tweet_fields = ['created_at', 'from_user', 'id', 'text']
result = pd.DataFrame(list(cursor), columns=tweet_fields)